<!DOCTYPE html>
<html>
  <head>
    <!--begin::Fonts -->
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins&display=swap"
      rel="stylesheet"
    />
    <!--end::Fonts -->
  </head>
  <body style="background-color: #ccc">
    <!-- container -->
    <div
      style="
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        height: auto;
        align-items: center;
        justify-content: center;
        font-family: 'Poppins';
        padding: 7rem;
      "
    >
      <div
        style="
          border: none;
          background-color: #fff;
          width: 50vw;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          font-size: 1rem;
        "
      >
        <img
          src="http://up.mitratekno.co.id/assets/extends/media/img/logo-meetup/meetup-blue.png"
          style="width: 10vw; align-self: center; flex: 1; margin-bottom: 3rem"
        />
        <p style="font-weight: 600; color: #777">Hello [email],</p>
        <p style="color: #777">
          Glad to meet you<br />
          Unfortunately, Meet UP team has chosen not to move forward with your
          payment.<br />
          <br />
          <span style="font-weight: 600; color: #666">Reason</span><br />
          your email is recorded as spam<br />
          <br />
          <br />
          <span style="font-weight: 600; color: #666">Here the Solution</span
          ><br />
          pay according to the nominal package you choose.<br />
        </p>

        <!-- <p>Thanks, <br /><span style="font-weight: 600">Meet-Up Team</span></p> -->
      </div>
      <div
        style="
          background-color: #fcc018;
          width: 50vw;
          padding: 1rem 2rem;
          display: flex;
          flex-direction: column;
          font-size: 1rem;
          text-align: center;
        "
      >
        <p style="flex: 1">
          <span style="font-weight: 600">Meet UP</span><br />
          Jl. Barata Jaya III no.16, Kec.Gubeng, Kota SBY, Jawa Timur 60284<br />
          +6231-999099<br />
          2020 Meet UP Team - All Right Reserved
        </p>
      </div>
    </div>
  </body>
</html>
